.Drawer
	position: fixed
	left: 0
	top: 0
	bottom: 0
	width: 80%
	max-width: 300px
	padding: 20px 10px
	box-sizing: border-box
	background: #fff
	z-index: 90
	transform: translateX(0px)
	transition: transform .2s ease-in
	ul
		list-style-type: none
		margin: 0
		padding: 0
		li
			margin-bottom: 15px
			a
				color: #363d54
				font-size: 30px
				text-decoration: none
				background-color: #fff
				position: relative
				padding: 0 20px 10px 20px
				transition: opacity .3s
				&:hover, &:active
					opacity: 80%

.close
	transform: translateX(-300px)