.Quiz
	display: flex
	justify-content: center
	padding-top: 100px
	flex-grow: 1
	width: 100%
	background: radial-gradient(101.61% 129.61% at 24.23% 95.72%, #FFF3F3 0.07%, #F88A8A 67.93%)

.Quiz h1
	color: #fff
	margin-left: 10px

.QuizWrapper
	width: 600px